beautifulsoup4==4.6.3
cachetools==2.1.0
certifi==2018.10.15
chardet==3.0.4
ChatterBot==0.8.7
chatterbot-corpus==1.1.4
Click==7.0
Flask==1.0.2
future==0.17.0
google-api-python-client==1.7.4
google-auth==1.5.1
google-auth-httplib2==0.0.3
httplib2==0.11.3
idna==2.7
ItsDangerous==1.0.0
Jinja2==2.10
MarkupSafe==1.0
mathparse==0.1.2
nltk==3.3
oauthlib==2.1.0
pyasn1==0.4.4
pyasn1-modules==0.2.2
PyAudio==0.2.11
pymongo==3.7.2
python-dateutil==2.6.1
python-twitter==3.4.2
pyttsx3==2.7
PyYAML==3.13
requests==2.20.0
requests-oauthlib==1.0.0
rsa==4.0
six==1.11.0
SpeechRecognition==3.8.1
SQLAlchemy==1.2.12
uritemplate==3.0.0
urllib3==1.24
Werkzeug==0.14.1
Whoosh==2.7.4
wikipedia==1.4.0
